<div class="container">
  <!-- input search -->
  <app-input-field (onSearch)="onSearch($event)"></app-input-field>
  <p>{{value}}</p>
  <!-- video result -->
  <app-video [data]="data"></app-video>
  <!-- video detail -->
  
  <!-- pagination -->
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> -->
</div>

<router-outlet></router-outlet>
