<div class="video" style="width: 100%;">
  <div class="sort">
    <i class="material-icons">sort</i>
  </div>
  <div class="card mb-3" style="padding-top: 20px; padding-left: 20px;">
    <div
      class="row"
      *ngFor="
        let v of (data?.items | paginate: { itemsPerPage: 10, currentPage: p })
      "
      [routerLink]="v.id.videoId"
    >
      <div class="col-md-3" style="margin-bottom: 20px">
        <img
          [src]="v.snippet.thumbnails.default.url"
          class="card-img"
          [alt]="v.snippet.title"
        />
      </div>
      <div class="col-md-9">
        <div class="card-body" style="padding: 0;">
          <h5 class="card-title">{{ v.snippet.title }}</h5>
          <p>Description: {{ v.snippet.description }}</p>
          <p>
            Published Date: {{ v.snippet.publishedAt | date: "dd/MM/yyyy" }}
          </p>
          <p>Channel Title: {{ v.snippet.channelTitle }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
